.App {
  text-align: center;
}

.navItem {
  display: inline;
  text-decoration: none;
  margin: 10px;
  
}

.navList {
  background-color: blanchedalmond;
  margin: 0 auto;
  padding: 20px;
}

.link {
  color: steelblue;
  text-decoration: none;
}